  body {
		background-color: #000080;
		font-family: times, serif;
		line-height: 1.5
		margin: 18px
}
h1 {
	color: #4682B4;
	text-align: center;
}
h2 {
	color: #4682B4;
	text-align: center;
}
p {
	text-align: justify;
	color: #FFFFFF;
}
	.image-container {
	text-align: center;
	margin: 25px 0;
}
table {
	border: 1px solid #778899;
	padding: 12px
	table-align: center;
	color: #FFFFFF;
}
th {
	text-align: center;
	background-color: #000080;
	color: #778899;
}
a {
color: #87CEFA;
text-decoration: none;
}